.definition {
  display: none;
}

.row {
  text-align: center;
}
body {
  text-align: center;
}

.header {
  margin: 4rem;
  padding: 2rem;
  background-color:  #e6e6e6;
  display: inline-block;
  border-radius: 45%;
}

.term {
  margin-top: 15px;
}

.header p{
  color: #006666
}

.well {
  height: 90px;
}
